        <div class="headernavbar">
            <nav class="navbar navbar-expand-lg headernavbar pl-5">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav firstnavigation mx-auto">
                    <li class="nav-item px-3">
                        <a class="nav-link" href="/">HOME</a>
                      </li>
                    <li class="nav-item px-3">
                      <a class="nav-link" href="#">WORK</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#">CONTACT</a>
                      </li>
                      <li class="nav-item px-3">
                        <a class="nav-link" href="#">ABOUT ME</a>
                      </li>
                  </ul>
                  <ul class="navbar-nav signuplogin ml-auto mr-5">
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#">SIGN UP</a>
                      </li>
                      <li class="nav-item px-3">
                        <a class="nav-link" href="/login">LOGIN</a>
                      </li>
                  </ul>
                
                </div>
              </nav>
            </div>
