@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
	box-sizing: border-box;
}

 * {
	margin: 0;
	padding: 0;
}

.headernavbar {
    color: white;
    background-color: rgba(0,0,0,.2);
}

.navbar-brand {
    padding-left: 5%;
    color:white;
    
}

.navbar-brand:hover {
    color:white;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color:lightgray;
}

.signuplogin{
    color:white;
}

.navbar-toggler {
    border-color: black;
    background-color: rgba(0,0,0,.4);
}

 body {
    height: 100vh;
    width: 100%;
	background:#a0845c	 ;
	color: #fff;
	font-family: "Roboto", sans-serif;
}



.PlayerCompChoices {
    height: 100%;
    display:grid;
    align-items:center;
    text-align: center;
    grid-template-rows: auto 10%;
}

.choices {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5rem;
    margin-top: 3rem;
    text-align: center;
    
}

.pilihan {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pilihanAI {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.pilihan {
    cursor:pointer;
}


.bingkai {
    width: 20%;
    height: 15vh; 
    position:relative;
}


.vsHome {
    position: relative;
    top: 50% 
}

.vsHome h1 {
    color: red;
    font-size: 72px;
}

  .icon {
    max-height: 50%;
    max-width: 50%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

.reset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reset1 {
    cursor:pointer;
}

  